<div class="container">
  <div class="row">
    <div class="col-12">
      <label>Server name</label>
      <input
        type="text"
        class="form-control"
        (input)="onUpdateServerName($event)"
      />

      <input [(ngModel)]="serverName" type="text" class="form-control" />
      <button
        class="btn btn-warning"
        [disabled]="!allowNewServer"
        (click)="onCreateServer()"
      >
        Add Server
      </button>

      <hr />
      <label> User Name</label>
      <input type="text" [(ngModel)]="userName" class="form-control" />
      <!-- [disabled]="toggleBtnDisable()" -->
      <button
        class="btn btn-info"
        [disabled]="userName === ''"
        (click)="resetUserName()"
      >
        Clear Name
      </button>
      <p>{{ userName }}</p>

      <!-- <p>{{ serverName }}</p> -->
      <p [innerText]="allowNewServer"></p>
      <!-- <p [innerText]="serverCreationStatus"></p> -->
      <p *ngIf="serverCreated; else noServer">
        Server was created, server name is {{ serverName }}
      </p>
      <ng-template #noServer><p>No Server was created!</p></ng-template>
      <app-server *ngFor="let server of servers"></app-server>
      <!-- <app-server></app-server> -->
    </div>
  </div>
</div>
